@media (min-width: 600px) {

    main {
        grid-template-columns: 1fr 1fr;
    }

    #coastalSummary {
        grid-column: 1/2;
        grid-row: 1/3;
    }

    #callToAction {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #socialMedia {
        grid-column: 1/3;
        grid-row: 4/5;
    }

    #socialMedia a {
        margin: 10px;
    }

    #weatherCard {
        grid-column: 1/3;
        grid-row: 3/4;
        justify-content: space-around;
    }

    #weatherCard img {
        width: 20%;
        margin-left: 0;
        margin-right: 0;
    }

    #day1, #day2, #day3 {
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    #otalDrink {
        grid-column: 2/3;
        grid-row: 2/3;
        column-span: all;
    }


    /* ----------Fresh Page---------- */

    form {
        grid-column: 1/3;
    }

    #orderResults {
        grid-column: 1/3;
    }


    /* ----------About Us Page---------- */

    #companyHistory {
        grid-column: 1/3;
        grid-row: 1/2;
    }

    #areaInformation {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #map {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #contactInformation {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}