body {
    max-width: 1400px;
    margin: 0 auto;
}

header h1 {
    background-color: #457B9D;
    border-radius: 25px;
    padding: 25px;
    color: white;
    font-family: 'Open Sans', 'Arial', 'Helvetica';
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: #1D3557;
    border-radius: 25px;
    flex-direction: column;
}

nav a {
    padding: 25px;
    color: #F1FAEE;
    font-family: 'Open Sans';
    text-decoration: none;
}

nav a:hover {
    background-color: #F1FAEE;
    color: #1D3557;
}

main {
    background-color: #F1FAEE;
    padding: 25px;
    margin: 25px 0 25px 0;
    border-radius: 25px;
}

h2, h3 {
    font-family: 'Open Sans', 'Arial', 'Helvetica';
    color: black;
}

p {
    font-family: 'Lora', 'Times New Roman', 'Georgia';
    color: black;
}

img {
    width: 100%;
}

.colorScheme {
    width: 40%;
}

.colorTable {
    width: 100%;
    min-width: 350px;
    margin: 30px auto;
    text-align: center;
}

.colorTable th {
    background-color: #999;
}

.colorTable td{
    width: 25%;
    height: 3em;
}
  
.primary {
    background-color: #CBF3D2;
}

.secondary {
    background-color: #FFFFFF;
}

.accent1 {
    background-color: #330C2F;
}

.accent2 {
    background-color: #0D67B5;
}

.headings {
    font-family: 'Open Sans', 'Arial', 'Helvetica';
}

.paragraphs {
    font-family: 'Lora', 'Times New Roman', 'Georgia';
}

footer {
    background-color: #457B9D;
    border-radius: 25px;
    padding: 25px;
    color: white;
    font-family: 'Open Sans', 'Arial', 'Helvetica';
}