@media (min-width: 600px) {

    .date {
        font-size: 24px;
    }

    main {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: auto;
    }

    #hero {
        grid-row: 1/2;
        grid-column: 1/4;
    }

    .home-title {
        font-size: 36px;
    }

    #newsRelease {
        grid-row: 2/3;
        grid-column: 1/4;
    }

    #spotlights {
        grid-row: 3/4;
        grid-column: 1/4;
    }

    #spotlightsFlex {
        display: flex;
        justify-content: center;
    }

    #event {
        grid-column: 1/3;
        grid-row: 5/6;
    }

    #weather {
        grid-column: 3/4;
        grid-row: 5/6;
    }

    #join {
        grid-row: 4/5;
        grid-column: 1/4;
    }

    footer {
        max-height: 200px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    .logoFooter {
        max-width: 150px;
        float: left;
        grid-column: 1/2;
        grid-row: 1/2
    }

    #address {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #contact, #locationMap {
        grid-column: 2/3;
    }

    #contact {
        grid-row: 1/2;
        margin-top: 60px;
    }

    #locationMap {
        grid-row: 2/3;
    }

    #footerString {
        grid-row: 2/3;
        grid-column: 2/3;
    }

    /* discover page CSS */

    #discoverImages {
        grid-column: 1/4;
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    #discover1 {
        grid-column: 1/2;
    }
    
    #discover2 {
        grid-column: 2/3;
    }

    #discover3 {
        grid-column: 1/2;
        grid-row: 2/3;
    }

    #discover4 {
        grid-column: 2/3;
        grid-row: 2/3;
    }

    #discover5 {
        grid-column: 1/2;
        grid-row: 3/4;
    }

    #discover6 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #demographic {
        grid-column: 1/4;
        grid-row: 4/5;
    }

    #daysSinceLastVisit {
        grid-column: 1/4;
        grid-row: 5/6;
    }

    .discoverImage {
        transition: transform .5s;
    }

    .discoverImage:hover {
        opacity: .6;
        transform: scale(1.1)
    }
}